h1, h2, h3, h4, h5, h6{
	margin: 0 0 .6em 0;
	font-family: "Futura", serif;
}

h1{ font-size: 1.8rem; }
h2{ font-size: 1.6rem; }
h3{ font-size: 1.4rem; }
h4{ font-size: 1.2rem; }
h5{ font-size: 1rem; text-transform: uppercase; }
h6{ font-size: .9rem; text-transform: uppercase; }

p{
	margin: 0 0 .8em 0;
}

a{
	text-decoration: none;
}
